/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.loginForm{
    margin-top: 200px;
    margin-bottom:100px;
    padding: 4rem;
    padding-left: 10px;
    padding-right: 10px;
    background:  linear-gradient(to bottom, cornflowerblue, white );
    border-radius: 5px;
    width: 300px;
    border: 1px solid black;
    
}
.loginContainer{
    display: flex;
    justify-content: center;
}
